@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Ofakim Group</h1>
    <p class="text-center"><a href="@Url.Action("UserRegistration","Home")" class="btn btn-primary btn-lg">Click To Registration</a></p>
</div>

